
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif
}

body {
  margin: 1.25rem;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem;
}

:where(img, video) {
  max-width: 100%;
  display: block;
}

#slide-elements {
  display: grid;
}

#slide-elements > * {
  grid-area: 1/1;
  opacity: 0;
  visibility: none;
}

#slide-elements > .active {
  opacity: 1;
  visibility: visible;
}
